fastapi
# pyiceberg
# pip install git+https://github.com/apache/iceberg-python.git # install from latest source
# install pyiceberg from vendor directory
# pip install ./vendor/iceberg-python                                             
sqlalchemy
pyiceberg[s3fs]
ruff
# tests
pytest==7.4.4
pytest-lazy-fixture==0.6.3
moto